[submodule "MOCO-display"]
	path = MOCO-display
	url = https://github.com/micah-breitenstein/MOCO-display.git
[submodule "MOCO-matrix"]
	path = MOCO-matrix
	url = https://github.com/micah-breitenstein/MOCO-matrix.git
[submodule "MOCO-stepper"]
	path = MOCO-stepper
	url = https://github.com/micah-breitenstein/MOCO-stepper.git
[submodule "MOCO-control"]
	path = MOCO-control
	url = https://github.com/micah-breitenstein/MOCO-control.git
